@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerList {
    position: absolute;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}